.speed-content {
    background: linear-gradient(45deg, #4348db, #5b5fcb);
    display: flex;
    align-items: center;

    .speed-chart {
        padding: 20px 0;
        position: relative;

        #speed-chart {
            width: 350px !important;
            height: 150px !important;

            * {
                animation: none !important;
            }
        }

        .speed-value {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -30%);
            font-size: 33px;
            color: #fff;

            display: flex;
            align-items: center;
            grid-gap: 6px;

            span {
                &:nth-child(1) {
                    font-size: 37px;
                }

                &:nth-child(2) {
                    font-size: 29px;
                    color: rgba(255, 255, 255, 0.83);
                }
            }
        }
    }

    .last-update {
        width: 100%;
        align-items: flex-end;
        padding-right: 30px;

        span {
            color: rgba(255, 255, 255, 0.90) !important;
        }
    }
}
